/* loading.css */
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; 
  }
  
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid lightgray;
    border-top: 10px solid #881010;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  